*{
    margin: 0;
}

.banner{
    height: 90vh;
    width: 100%;
    color: white;
    position: relative;
    margin-bottom: 30px;
}

.banner_elements{
   position: absolute;
   left: 30px;
   top: 50vh;
}

.banner_btn{
    color: white;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    font-size: 16px;
    border: 0;
    cursor: pointer;
}

.banner_list:hover{
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

.banner_play{
    background-color: #ff1c27;
}

.banner_list{
    background-color: rgba(255, 254, 254, 0.25);
}

.banner_fade{
    height: 7.4rem;
    width: 100%;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(25, 24, 24, 0.5),
        #111
    );

    position: absolute;
    bottom: 0px;
}

.banner_description{
    max-width: 500px;
    font-weight: 400;
    color: rgb(186, 186, 197);
}

.banner_fade2{
    height: 7.4rem;
    width: 100%;
    background-image: linear-gradient(
        270deg,
        transparent,
        rgba(17, 16, 16, 0.65),
        #111
    );

    height: 90vh;
}

@media (max-width: 600px){
    .banner{
        height: 70vh;
    }

    .banner_fade2{
        height: 70vh;
    }

    .banner_elements{
        position: absolute;
        left: 30px;
        top: 30vh;
     }
}
